<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <modules>
    <module assemblyFile="ControlCenter.VehicleAndGameData.dll" moduleType="ControlCenter.VehicleAndGameData.Module, ControlCenter.VehicleAndGameData, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Vehicle And Game Data Module" startupLoaded="True" />
    <module assemblyFile="ControlCenter.PlayerData.dll" moduleType="ControlCenter.PlayerData.Module, ControlCenter.PlayerData, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Player Data Module" startupLoaded="True" />
    <module assemblyFile="ControlCenter.Garages.dll" moduleType="ControlCenter.Garages.Module, ControlCenter.Garages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Garages Module" startupLoaded="True" />
  </modules>
</configuration>