<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <modules>
    <module assemblyFile="GTA SA Control Center.exe" moduleType="ControlCenter.Module, Module, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Module" startupLoaded="True" />
  </modules>
</configuration>